__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env
*.egg-info
.git
.gitignore
*.md
.env
.env.*
instance/
*.db
*.sqlite
*.sqlite3
server.log
*.log
.pytest_cache
htmlcov
.coverage

!nginx/
!nginx/frontend.conf